<div class ="card">
    <div class="card-content">
        <div class="content">
            <input class="title is-4" placeholder="Post Title" name="post-title" />
            <div class="field">
                <label class="label">Create New Post</label>
            </div>
            <div class="control">
                <textarea name='post'class="textarea" placeholder="Post Here"></textarea>
            </div>
            <button class="button has-text-success create-post-btn">Submit Post</button>
        </div>
    </div>
</div>
<script src="/js/post.js"></script>