<form id="sign-up-form">
    <div>
        <label class= "label" for="username-signup">
            username
        </label>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label class = "label" for="password-signup">
            password
        </label>
        <input type="text" id="password-signup"/>
    </div> 
    <div>
        <button id="signup-btn" class=" button has-text-success" type="submit"> Sign Up</button>
    </div> 
</form> 
<script src= "/js/signup.js"></script>