{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit" class="button has-text-success">Post Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}